.section-search input{
    padding: 5px !important;
    font-size: 18px;
    width: 90% !important;
    border:  black 3px solid !important;
    
}
#a{
    color: black;
}
.search{
    border-radius: 40px;
}
.section-follow .fa-4x{
margin:   5px 10px;
}